# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl
Pipfile
Pipfile.lock
poetry.lock
env/
venv/
ENV/
.venv/
*.env
*.venv
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.parquet
*.h5
*.csv
*.tsv

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj
.Rbuildignore
.Rprofile
*.Rhistory
*.Rdata
*.Rout
*.pdf
*.html
*.md
*.DS_Store
*.tar.gz
__MACOSX/
vignettes/*.html
vignettes/*.md
vignettes/*.pdf
renv/
renv.lock
packrat/
packrat.lock
*.Rds
*.RData
*.rda
*.csv
*.tsv

# Jupyter Notebooks
.ipynb_checkpoints/


# Singularity container image
*.sif
